<app-spinner-loading *ngIf="showSpinner"></app-spinner-loading>

<div *ngIf="!showSpinner" class="container-fluid pt-5">
  <div class="row d-flex justify-content-center">
    <div class="div__container">
      <h1>Top 10 most searched breeds</h1>
      <div class="row">
        <ng-container *ngFor="let breed of breeds.slice(0, 10); let i = index">
          <div class="col-sm-12 col-md-3 p-2">
            <figure class="div__images">
              <img
                [src]="breed.image.url"
                class="img__cat"
                [alt]="breed.name"
                [title]="breed.name"
              />
            </figure>
          </div>
          <div class="col-sm-12 col-md-9">
            <a [routerLink]="['/wiki/breed', breed.id]">
              <h2>{{ i + 1 }}.&nbsp; {{ breed.name }}</h2>
            </a>

            <p class="justify-text h-100">{{ breed.description }}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
