.navbar-brand {
  font-family: Mystery Quest;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: #291507;
}
.navbar-brand img {
  width: 41.72px;
  height: 33.67px;
}
