<footer class="footer text-center d-flex justify-content-center">
  <div class="div-container h-100">
    <div class="col-4 d-flex flex-row justify-content-start ps-5">
      <p>CatWiki</p>
      <img
        src="assets/img/catwiki.png"
        alt=""
        width="30"
        height="24"
        class="d-inline-block align-text-top"
      />
    </div>
    <div class="col-8">
      <p class="copy">
        &copy; created by Luis L&oacute;pez - devChallenge.io 2021
      </p>
    </div>
  </div>
</footer>
